<header>
<nav>
　<ul>
    <li><%= link_to("Top", "top")%></li>
    <li><%= link_to("About", "about")%></li>
    <li><%= link_to("Access", "access")%></li>
    <li><%= link_to("Contact", "contact")%></li>
　</ul>
</nav>
</header>
